/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05 9, 18, 1:35:36 PM
    Author     : elgalacio
*/

body {
    font-family: "Segoe UI", Roboto, sans-serif;
    background-color: #eee;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #3392bd; 
    color: white; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

.div-image-uploader {
    background-color: #fff9f9;
    box-shadow: 0 10px 10px -5px #cecece;
    padding: 30px;
    margin: 40px;
}
.cursor-pointer { cursor: pointer }
.btn-action { text-align: center }
.display-inline { display: inline; }
.button {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none!important;
    color: #626262;
    background-color: #fff;
    text-shadow: none;
    box-shadow: none;
    line-height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear 0s!important
}
.btn-upload { 
    float: right;
    color: #3392bd;
    background-color: #fff;
    border-color: #3392bd;
}

.btn-upload:hover {
    color: #fff;
    background-color: #3392bd;
    border-color: #fff;
}

.btn-close { 
    float: left;
    background-color: #fff;
    border-color: #777;
    color: #453d3d;
}

.btn-submit {
    color: #fff;
    background-color: #777;
}

.btn-submit:hover {
    color: #453d3d;
    background-color: #fff;
    border-color: #777;
}

.btn-edit {
    padding-left: 6px;
    padding-right: 6px;
    line-height: 25px;
    background: transparent;
    border-color: #3392bd;
}
.btn-remove {
    padding-left: 6px;
    padding-right: 6px;
    line-height: 25px;
    background: transparent;
    border-color: #3392bd;
}

.add-bottom-btn { display:none }
.add-top-btn { padding-bottom: 55px;}
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-title {
    color: #626262;
    font-weight: 600;
    font-size: 14px;
}
#image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.div-image-error {
    color: #d62424;
    font-weight: 400;
}

#label-image {
    color: #fff;
    border: 1px solid #3392bd;
    background-color: #3392bd;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    width: 30%;
    text-align: center;
}

#label-image-filename {
    color: #3392bd;
    background-color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    width: 70%;
    text-align: center;
    margin-left: -5px;
    border: 1px solid #3392bd;
    white-space: nowrap;
}

.div-title {
    background-color: #fff;
    position: relative;
    border: 1px solid #3392bd;
    border-radius: 2px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    overflow: hidden;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

input#title {
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: 0 0;
    width: 100%;
    display: inline-block;
}

input#title:focus {
    border-color: rgba(0,0,0,.1);
    outline: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #label-image {
        width: 100% !important;
    }
    #label-image-filename {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .add-top-btn { display:none }
    .add-bottom-btn { display:block !important; }
    .btn-action { text-align: left }
    .btn-upload { 
        width: 100% !important; 
        margin-top: 15px; 
        float: none !important;
    }
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr.header { display: none }
    tr { border: 1px solid #ccc; }
    td { 
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%; 
    }
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    /* Label the data */
    td:nth-of-type(1):before { content: "Title"; }
    td:nth-of-type(2):before { content: "Thumbnail"; }
    td:nth-of-type(3):before { content: "Filename"; }
    td:nth-of-type(4):before { content: "Date Added"; }
    td:nth-of-type(5):before { content: ""; }
}